<main class="main">
  <form class="register-container" (ngSubmit)="submit()">
    <h1>Register</h1>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="example@example.com"
        [formControl]="email"
        (blur)="updateEmailErrorMessage()"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ errorEmailMessage() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        [formControl]="password"
        [type]="hide() ? 'password' : 'text'"
        (blur)="updatePasswordErrorMessage()"
        required
      />
      @if (password.invalid) {
      <mat-error>{{ errorPasswordMessage() }}</mat-error>
      }
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button type="submit">
      <span>Register</span>
    </button>
  </form>
</main>
